<div class="header">
</div>

<div class="icon">
  <img src="https://mateogutierrez.neocities.org/Logo-removebg-preview.png">
  <h1>Ventas</h1>
</div>

<table class="content-table">
  <thead>
    <tr>
      <th>Día</th>
      <th>Descripción</th>
      <th>Precio t</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a</td>
      <td>a</td>
      <td>a</td>
      <td>a</td>
    </tr>
    <tr>
      <td>b</td>
      <td>b</td>
      <td>b</td>
      <td>b</td>
    </tr>
    <tr>
      <td>c</td>
      <td>c</td>
      <td>c</td>
      <td>c</td>
    </tr>
    <tr>
      <td>b</td>
      <td>b</td>
      <td>b</td>
      <td>b</td>
    </tr>
    <tr>
      <td>c</td>
      <td>c</td>
      <td>c</td>
      <td>c</td>
    </tr>
    <tr>
      <td>b</td>
      <td>b</td>
      <td>b</td>
      <td>b</td>
    </tr>
    <tr>
      <td>c</td>
      <td>c</td>
      <td>c</td>
      <td>c</td>
    </tr>
    <tr>
      <td>b</td>
      <td>b</td>
      <td>b</td>
      <td>b</td>
    </tr>
    <tr>
      <td></td>
      <td>Total:</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
