ion-header {
    background-color: #f8f8f8;
  }
  
  ion-content {
    background-color: #f8f8f8;
  }
  
  .card-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-button {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  .Milk1{
    position: absolute;
    width: 250px;
    height: 300px;
    top: 100px;
    left: 0px;
    
    }
    .Milk3{
      position: absolute;
      width: 200px;
      height: 300px;
      top: 300px;
      left: 0px;
      transform: rotate(25deg);
      }
    .Milk2{
      position: absolute;
      width: 200px;
      height: 300px;
      top: 200px;
      left: 0px;
      
      }
      .Pulparindo{
        position: absolute;
        height: 200px;
        top: 550px;
        left: 40px;
        
        }
        .Pulparindos{
          position: absolute;
          height: 200px;
          top: 550px;
          left: -15px;
          
          }
          .Gomitas{
            position: absolute;
            width: 200px;
            height: 300px;
            top: 100px;
            left: 1350px;
            }
            .Gomitas2{
              position: absolute;
              width: 200px;
              height: 250px;
              top: 250px;
              left: 1350px;
              }
              .Ski{
                position: absolute;
                height: 250PX;
                top: 500px;
                left: 1200px;
                }
                .Skis{
                  position: absolute;
                  top: 600px;
                  left: 1000px;
                  }
      
  