<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="Milk1"src="https://mateogutierrez.neocities.org/milki.png">
  <img class="Milk3" src="https://mateogutierrez.neocities.org/milk22.png">
  <img class="Milk2" src="https://mateogutierrez.neocities.org/milk22.png">
  <img class="Pulparindos" src="https://mateogutierrez.neocities.org/MasPulparindos.png">
  <img class="Pulparindo" src="https://mateogutierrez.neocities.org/pulparindoCaja.png">
  <img class="Gomitas" src="https://mateogutierrez.neocities.org/Gomitas.png">
  <img class="Gomitas2" src="https://mateogutierrez.neocities.org/masGomitas.png">
  <img class="Skis" src="https://mateogutierrez.neocities.org/Dulces%20sueltos.png">
  <img class="Ski" src="https://mateogutierrez.neocities.org/Dulces.png">
  <div class="card-container">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button color="secondary" (click)="Cancel()">Cancelar</ion-button>
    <ion-button color="primary" (click)="recoverPassword()">Recuperar contraseña</ion-button>
  </div>
</ion-content>



